* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  background-color: #f2f2f2;
  background-attachment:fixed;
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  font-family: arial;
}



.navbar{
	width:100%;
	background-color:#32557C; 
	height:60px; 
	margin: 0;
}

.icon{
	height:50px;
	width:60%;
	object-fit: scale-down;
	
	display: block;
	margin: 0 auto;
	padding-top: 5px;
}

#navbar_header{
	height:50px;
	width:50%;
	object-fit: scale-down;
	
	display: block;
	margin: 0 auto;
	padding-top: 5px;
}

#convo_partner{
	color:white;
	font-size: 20pt;
	text-align: left;
	vertical-align: middle;
	
	text-overflow: ellipsis;
	overflow:hidden;
	white-space: nowrap;

	margin:0;
	padding-left:5%;
	position:relative;
	transform: translateY(50%);
	
}

#debug{
	position: absolute;
	bottom:60px;
	right:0;
	text-align: right;
	opacity: 0.5;
	z-index: 9999;
}

.device_list{
	background-color:white;
	width:100%;
	height:calc(100% - 60px);
	position: absolute;
	bottom:0;
	
	margin:none;
	overflow-y: scroll;
}

.list_title{
	font-size: 15pt;
	margin: none;
	text-align:center;
	width:100%;
	border-bottom: 1px solid #e6e6e6;

}

.device{
	text-align: left;
	width:100%;
	border-bottom: 1px solid #e6e6e6;
}

.device_name{
	font-size: 20pt;
	margin:none;
	padding: none;
	margin-left: 10px;
}

.device_address{
	color:gray;
	font-size: 12pt;
	margin-top:-22px;
	margin-left: 20px;
}

.device_info{
	color:gray;
	font-size: 12pt;
	margin-top:-10px;
	margin-left: 20px;
}

.device_status{
	background-color: red;
	height:20px;
	width:20px;
	margin-top:-5px;
	margin-right: 15px;
	border-radius:20px;
	float:right;
}

.online{
	background-color: green;
}

#conversation_container{
	position:absolute;
	bottom:55px;
	width:100%;
	height:calc(100% - 115px);
	overflow-y:scroll;
	overflow-x: hidden
}

.message_container{
	width:100%;
	position: relative;
	padding-top:5px;
	padding-bottom:10px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.message{
	margin:auto;
	padding: 10px;

	word-wrap: break-word;
	white-space: wrap;
	overflow:hidden;

	display: inline-block;
	vertical-align: middle;
	max-width: 50%;
	border: 1px solid #e6e6e6;
}

.message_timestamp{
	color:gray;
	font-size: 10pt;
}

.sender{
	background-color: white;
	border-right: 1px solid transparent;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.receiver{
	background-color:#497cb6;
	color:white;
	border-left: 1px solid transparent;	
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.input_container{
	background-color: white;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	position: absolute;
	bottom:0px;
	height:55px;
}

div.col{
	float:left;
	vertical-align: middle;
}

div.side{
	width:12.5%;
	height:100%;
}

div.middle{
	width:75%;
	height:100%;
}

#messenger_content_adder{
	font-size: 35pt;
	text-align: center;
	vertical-align: middle;
	
	margin:0;
	padding:0;
	
	border-right: 1px solid #e6e6e6;

}

#messenger_input{
	width:100%;
	font-size:15pt;
	border:none;
	outline: none;
	

	position:relative;
	transform: translateY(50%);
}

#loading_spinner{
	width:70%;	
}

#loadingInfo{
	display: none;
}

.loading_spinner{
	transform-origin: 50% 57.5% 0;
	-webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}


@-moz-keyframes spin {
	100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin {
	100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin {
	100% { -webkit-transform: rotate(360deg); 
			transform:rotate(360deg); } 
}
